:root{
  --color-primary-dark: #31261a;
--color-primary-light: #faf4ea;
--color-brand-normal: #819857;
--color-brand-dark:#465929;
--color-brand-light: #cfcfbc;
--color-secondary-dark:#A18268;

}
/*Base*/
*, *::after, *::before{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
}
body{
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}
address{
    font-style: normal;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.section{
    padding: 48px 0;
}
.visually-hidden{
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
.container{
    width: 100%;
    max-width: 1288px;
    margin:0 auto;
    padding:0 24px;
}
a{
    display: inline-block;
}
.chef-text p{
margin-bottom: 24px;
}
.chef-text p:last-child {
    margin-bottom: 0;
}
/*Button*/
.button{
    padding: 16px 32px;
    color: var(--color-primary-light);
    font-weight: 600;
    background-color:var(--color-brand-normal);
    border: 2px solid var(--color-brand-normal);
    border-radius: 8px;
    cursor: pointer;
}
.button:hover{
    color:var(--color-brand-dark);
    background-color: transparent;
}

/*Link*/
.link{
    color: var(--color-primary-light);
    text-decoration: none;
    transition: color.3s;  
}

.link:hover{
    color: var(--color-brand-normal);
   /* font-weight: 600;*/
}
/*Header*/
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 32px;
}
.header-container{
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}
.header-menu{
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;

}

/*Hero*/
.hero-section{  
    padding: 272px, 0;
    background-image: url(../images/hero-section-background.jpg);
    background-repeat: no-repeat;
    background-position:center top;
    background-size: cover;
    height: 300px;
}

.hero-title{
    margin-bottom: 0;
    color: var(--color-primary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
}
.hero-title .accent{
    color: var(--color-brand-normal);
    
}
/*Advantages*/
.advantages-section{
    padding:16px 0;
    background-color: var(--color-brand-normal);

}
.advantages-list{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    
}
.advantages-item{
font-size: 20px;
font-weight: 300;
color: var(--color-primary-light);
}

/*Section*/
.section-title{
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}
.section-title.centered{
    text-align: center;
}
.section-title .accent{
    color: var(--color-brand-normal);
}
/*Traditions*/
.traditions-title{
    margin-bottom: 42px;
}
.traditions-section{
    padding-top:96px ;
}
.traditions-container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.traditions-content{
max-width: 710px;
}
.traditions-text .brand{
color: var(--color-brand-normal);
font-weight: 600;
}
.traditions-text .uppercase {
    color: var(--color-brand-normal);
    text-transform: uppercase;
}
.traditions-text.limited{
    max-width: 340px;
}
/* Chefs sections*/

.chef-title{
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
}
.chefs-title{
    max-width: 520px;
    margin:0 auto 80px;
    position: relative;
}
.chefs-title::after{
    display: block;
    width: 352px;
    border: 2px solid var(--color-brand-normal);
    content:'';
    position: absolute;
    right: -360px;
    bottom: 24px;
}
.chefs-title::before {
    display: block;
    width: 352px;
    border: 2px solid var(--color-brand-normal);
    content: '';
    position: absolute;
    bottom: 24px;
    left: -360px;

}
.chefs-list {
    display: flex;
    gap: 30px;
}
.chef-card{
    display:flex;
    gap: 30px;
    justify-content: space-between;
}
.chefs-item{
    flex-basis:50%;
    
}
.chef-image{
        border-radius: 4px 4px 4px 200px;
        box-shadow: -16px 16px 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-dark);
}
/*Format section*/
.formats-title{
    margin-bottom: 80px;
}
.format-title{
    font-size: 24px;
    font-weight: 600;
}
.format-text{
    font-size: 14px;
    font-weight: 300;
}
.formats-container{
 display:flex;
 gap: 32px;
 align-items: center;
}
.format-card{
    width: 350px;
    height: 445px;
    padding: 24px;
    background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261A 100%);;
    border-radius: 16px;
    border: 1px solid lightgray;/*fix cl*/
    transition: transform .3s;
}
.format-card:hover{
    transform: scale(1.05);
}
.format-list{
    display: flex;
    gap: 20px;
    flex-shrink: 1;
    
}
.formats-item{
    flex-basis: calc((100%-40px) /3);
   
}

/* Carousel button*/
.carousel-button {
    display: flex;
    width: 44px;
    height: 44px;
    padding: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--color-primary-dark);
    flex-shrink: 0;
    cursor: pointer;
}
.carousel-button.next{
    transform: rotate(180deg);
}
.carousel-button:hover{
    background-color: var(--color-primary-dark);
}
.carousel-button:hover .carousel-arrow{
    fill: var(--color-primary-light);
}
.carousel-arrow{
    fill: var(--color-primary-dark)  
}
/* Contact section*/
.contact-title{
    margin-bottom: 16px;
}
.contact-container{
    display: flex;
    gap: 32px;

}
.contact-map{
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
}
/* Footer*/
.footer-container{
    display: flex;
 gap: 20px;
}
.footer-nav{
    display: flex;
    flex-basis: 50%;
}
.footer-logo{
    flex-grow: 1;
}

.footer-address{
    display: flex;
    flex-basis: 50%;
}
.footer-menu{
    flex-grow: 1;
}

.footer{
    background-image: url(../images/footer-background.png);
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 0;
    position: relative;
}
.footer::before {
    position: absolute;
    background-image: url(../images/bread-small.png);
    content: '';
    width: 180px;
    height: 120px;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
}
.footer::after{ 
    position: absolute;
    background-image: url(../images/bread-large.png);
    content: '';
    width: 380px;
    height: 190px;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
}

.address-list, .addtess-icon{
    flex-grow: 1;
}
.address-icon{
    fill: var(--color-primary-light);
}
.address-icon:hover {
    fill: var(--color-brand-normal);
}
.address-link{
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}
.address-link:hover{
    color: var(--color-brand-normal);
     
}
.address-copyright{
    font-size: 14px;
}
/*Modal*/
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    transition: opacity .3s, visibility .3s;
}
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal{
    position: relative;
    max-width: 880px;
    width: 100%;
    max-height: 880px;
    height: 100%;
    padding: 128px;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    overflow-y: auto;
}
.modal-btn-close{
    position: absolute;
    top: 40px;
    right: 40px;
}

/*Form*/
.form-field{
    position: relative;
    margin-bottom: 32px;
}
.form-label{
    position: absolute;
    top:16px;
    left: 42px;
}
.form-input{
    padding: 16px 42px;
    width: 100%;
    font-size: 16px;
    line-height: 1.17;
    border: 1px solid var(--color-secondary-dark);
    border-radius: 8px;
    background-color: transparent;
}
.form-input:focus{
    border-color: var(--color-brand-normal);
    outline: none;
}
.form-input::placeholder{
    color: var(--color-secondary-dark);
    font-size: 16px;    
    line-height: 1.17;
}
.form-input:focus::placeholder{
    color: var(--color-primary-dark);
}
.form-button{
    display: block;
    margin: 0 auto 24px;
}
.form-terms{
    margin: 0 auto;
    max-width: 220px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}
.form-terms-link {
    color: var(--color-brand-normal);
    text-underline-offset: 2px;
    
}