/* Chefs sections*/ .chef-title {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
}

.chefs-title {
    max-width: 520px;
    margin: 0 auto 80px;
    position: relative;
}

.chefs-title::after {
    display: block;
    width: 352px;
    border: 2px solid var(--color-brand-normal);
    content: '';
    position: absolute;
    right: -360px;
    bottom: 24px;
}

.chefs-title::before {
    display: block;
    width: 352px;
    border: 2px solid var(--color-brand-normal);
    content: '';
    position: absolute;
    bottom: 24px;
    left: -360px;

}

.chefs-list {
    display: flex;
    gap: 30px;
}

