/*Format section*/
.formats-title {
    margin-bottom: 80px;
}

.format-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primary-light);
}

.format-text {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-primary-light);
}

.formats-container {
    display: flex;
    gap: 32px;
    align-items: center;
}

.format-card {
    position: relative;
    width: 350px;
    height: 445px;
    padding: 24px;
    background-image: linear-gradient(180deg,
            rgba(49, 38, 26, 0) 55.21%,
            rgba(49, 38, 26, 0.71) 72.92%,
            #31261A 100%);
    border-radius: 16px;
    border: 1px solid lightgray;
    /*fix cl*/
    transition: transform 0.3s;
}

.format-image {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.format-card:hover {
    transform: scale(1.05);
}

.format-list {
    display: flex;
    gap: 20px;
    flex-shrink: 1;
}

.formats-item {
    flex-basis: calc((100% - 40px) /3);
}