/*Hero*/
    .hero-section {
    padding: 272px, 0;
    background-image: url(../images/hero-section-background.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

     &__title {
      margin-bottom: 0;
      color: var(--color-primary-light);
      text-align: center;
      font-size: 128px;
      font-weight: 900;
                }
            
     &__title .accent {
        color: var(--color-brand-normal);
             }
        
        }
    
        


